svg{
  overflow: visible;
  width: 100%;
  display: block;
  background-color: #eee;
}
body{
  padding: 0 50px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}